doctype html
html
 meta(charset='utf-8')
 head
  style
 -var au = true;
 body(class=au?'authed':'anon')
  h1
  div#box
   ul.abc
    li jade列表
    li jade列表1
   div.div1.div2
    span(style={color:'red',background:'green'}) 这是一个模板引擎
    //if IE
    a(href="www.baidu.com") 百度一下
